<div class="gallery_list <%= css_list_klass %> clearfix">

  <% if section_title.present? %>
      <h3 class="section_title h3_for_gallery_list"><%= section_title %></h3>
  <% end %>  
  
  <% list.each_with_index do |gallery,i| %>
      <% title = gallery.title %>
      <% image = nil %>
      <% a_klass = 'nil_img' %>
      <% image = gallery.gphotos.first.image.send(thumb_size) if gallery.gphotos.count > 0 %>
      <% a_klass = '' if gallery.gphotos.count > 0 %>
      <% url = my_url_for_gallery(gallery) %>

      <div class="slot_item <%= css_item_klass %> n_<%= i %>">
        <div class="photo" style="<%= "#{w_style};#{h_style}" %>">
          <%= render_image_link_lazy({
                                             :alt_image => title,
                                             :image => image,
                                             :a_href => url,
                                             :a_class => a_klass,
                                             :a_css_style => "#{w_style};#{h_style}",
                                             :a_rel => 'nofollow'
                                     }) %>
        </div>
        <div class="title" style="<%= "#{w_style}" %>">
          <%= link_to title, url, :title => title %>
        </div>
      </div>
  <% end %>

</div>