<div class="gallery_list_grayscaled <%= css_list_klass %> clearfix">

  <% list.each_with_index do |gallery,i| %>
      <% title = gallery.title %>
      <% image = nil %>
      <% image_grayscale = nil %>
      <% a_klass = 'nil_img' %>
      <% image = gallery.gphotos.first.image.send(thumb_size) if gallery.gphotos.count > 0 %>
      <% image_grayscale = gallery.gphotos.first.image.send("#{thumb_size}_gray") if gallery.gphotos.count > 0 %>
      <% a_klass = '' if gallery.gphotos.count > 0 %>
      <% url = my_url_for_gallery(gallery) %>

      <div class="slot_item <%= css_item_klass %> n_<%= i %>">
        <div class="photo" style="<%= "#{w_style};#{h_style}" %>">
          <%= render_image_link_lazy({
                                             :alt_image => title,
                                             :image => image,
                                             :a_href => url,
                                             :a_class => "#{a_klass} color",
                                             :a_css_style => "#{w_style};#{h_style}",
                                             :a_rel => 'nofollow'
                                     }) %>
          <%= render_image_link_lazy({
                                             :alt_image => title,
                                             :image => image_grayscale,
                                             :a_href => url,
                                             :a_class => "#{a_klass} gray",
                                             :a_css_style => "#{w_style};#{h_style}",
                                             :a_rel => 'nofollow'
                                     }) %>
        </div>
        <div class="title" style="<%= "#{w_style}" %>">
          <%= link_to title, url, :title => title %>
        </div>
      </div>
  <% end %>

</div>